<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="stylesheet" href="{% sass_src 'practice/scss/application.scss' %}">
    <title>practice</title>

</head>
<body>

    <header class='header'>
        <div class='header__box clearfix'>
            <div class='header__box__left'>
                <a href='{% url "practice:index" %}' class='header-logo'>Practice</a>
            </div>
            <div class='header__box__right'>
                {% if user.is_authenticated %}
                    <a href="#" class='header-link'>{{ user }}さん</a>
                    <a href='{% url "logout" %}' class='header-link'>ログアウト</a>
                {% else %}
                    <a href='{% url "login" %}' class='header-link'>ログイン</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class='main-contents'>
        <div class='main-contents__box'>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>